<header>
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Search form -->
      <div class="navbar-nav ms-auto d-flex flex-row">
        <input type="text" name="searchValue" placeholder="Tên sách" >
        <input type="text" name="searchValue" placeholder="Tên học sinh" >

        <button class=" border-0" id="search-addon" (click)="search()">Search</button>
      </div>

      <!-- Right links -->
      <div class="navbar-nav ms-auto d-flex flex-row">
        <button type="button" class="btn btn-primary" [routerLink]="['/book']">Danh sách sách</button>
      </div>
    </div>
  </nav>
</header>
<!-- List -->
<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>STT</th>
    <th>Mã mượn sách</th>
    <th>Tên sách</th>
    <th>Tác giả</th>
    <th>Tên học sinh</th>
    <th>Lớp</th>
    <th>Ngày mượn</th>
    <th>Ngày trả</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let libraryCard of libraryCardList | paginate : {itemsPerPage : 3 , currentPage :p}, index as i">
    <td>{{i + 1}}</td>
    <td>{{libraryCard.libraryCardCode}}</td>
    <td>{{libraryCard.book.bookName}}</td>
    <td>{{libraryCard.book.author}}</td>
    <td>{{libraryCard.student.studentName}}</td>
    <td>{{libraryCard.student.className}}</td>
    <td>{{libraryCard.startDate}}</td>
    <td>{{libraryCard.endDate}}</td>
    <td>
      <a type="button" class="btn btn-danger btn-sm btn-rounded delete_btn" data-mdb-toggle="modal"
         data-mdb-target="#deleteModal" (click)="sendLibraryCardInfo(libraryCard.id, libraryCard.book.bookName, libraryCard.student.studentName)">
        Trả sách
      </a>
    </td>
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p=$event"></pagination-controls>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type="hidden" name="idDelete" id="idDelete">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận trả sách</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Học sinh <span class="text-danger">{{studentNameDelete}}</span> thực hiện trả sách <span class="text-danger">{{bookNameDelete}}</span> ?</p>
        <p class="text-warning">*Thao tác này sẽ không thể hoàn tác*</p>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-mdb-dismiss="modal" >Hủy</button>
        <button type="button" class="btn btn-danger" id="delete_btn" (click)="deleteLibraryCard(closeModal, successBtn)">Đồng ý</button>
      </div>
    </div>
  </div>
</div>

<button [hidden]="true" #successBtn data-mdb-toggle="modal" data-mdb-target="#successModal"></button>
<!--success modal-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-mdb-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Tuyệt!</h4>
        <p>Trả sách thành công.</p>
        <button type="button" class="btn btn-danger" id="delete_btnn" data-mdb-dismiss="modal"  >Đồng ý</button>
      </div>
    </div>
  </div>
</div>
