<div class=" col-4 mx-auto">
  <form [formGroup]="libraryCardForm" (ngSubmit)="submit(successBtn)">
    <div class="modal-header">
      <h5 class="modal-title">Mượn sách</h5>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="libraryCardCode" class="form-label">Mã mượn sách<span class="text-danger">(*)</span></label>
        <input type="text" class="form-control" id="libraryCardCode" formControlName="libraryCardCode">
        <div *ngIf="libraryCardCode?.touched">
          <small class="text-danger" *ngIf="libraryCardCode?.errors?.required">Mã mượn sách không được để trống.</small>
<!--          <small class="text-danger" *ngIf="medicalRecordCode?.errors?.pattern" >Mã bệnh án phải có định dạng BA-XXXX, trong đó X là số tự nhiên.</small>-->
        </div>
        <div *ngIf="libraryCardCode.valid">
          <small class="text-success">Hợp lệ.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="book" class="form-label">Tên sách<span class="text-danger">(*)</span></label>
        <input type="text" class="form-control" id="book" value="{{bookBorrow.bookName}}" disabled>
      </div>

      <label class="form-label" for="student">Học sinh</label>
      <div class="mb-4">
        <select id="student" class="form-control" formControlName="student">
          <option *ngFor="let student of studentList" [ngValue]="student" >{{student.studentName}}</option>
        </select>
        <div *ngIf="student?.touched">
          <small class="text-danger" *ngIf="student?.errors?.required">Học sinh không được để trống.</small>
        </div>
        <div *ngIf="student.valid && student?.touched">
          <small class="text-success">Hợp lệ.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="startDate" class="form-label">Ngày mượn<span class="text-danger">(*)</span></label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" (change)="validateStartDateBefore()">
        <div *ngIf="startDate?.touched">
          <small class="text-danger" *ngIf="startDate?.errors?.required">Ngày mượn không được để trống.</small>
          <small class="text-danger" *ngIf="startDate?.errors?.startDateBefore">Ngày nhập viện phải lớn hơn ngày hôm nay.</small>
          <small class="text-danger" *ngIf="startDate?.errors?.pattern">Sai định dạng ngày, ngày phải có định dạng dd/MM/yyyy.</small>
        </div>
        <div *ngIf="startDate.valid">
          <small class="text-success">Hợp lệ.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="endDate" class="form-label">Ngày trả<span class="text-danger">(*)</span></label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate" (change)="validateEndDateBefore()">
        <div *ngIf="endDate?.touched">
          <small class="text-danger" *ngIf="endDate?.errors?.required">Ngày trả không được để trống.</small>
          <small class="text-danger" *ngIf="endDate?.errors?.endDateBefore">Ngày trả phải lớn hơn ngày nhập viện.</small>
          <small class="text-danger" *ngIf="endDate?.errors?.pattern">Sai định dạng ngày, ngày phải có định dạng dd/MM/yyyy.</small>
        </div>
        <div *ngIf="endDate.valid">
          <small class="text-success">Hợp lệ.</small>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <input [disabled]="!libraryCardForm.valid" type="submit" class="btn btn-primary" value="Thêm mới">
    </div>
  </form>
</div>

<button [hidden]="true" #successBtn data-mdb-toggle="modal" data-mdb-target="#successModal"></button>
<!--success modal-->
<div id="successModal" class="modal fade">
  <div class="modal-dialog modal-confirm modal-confirm-success">
    <div class="modal-content">
      <div class="modal-header modal-header-success justify-content-center">
        <div class="icon-box">
          <i class="material-icons">&#xE876;</i>
        </div>
        <button type="button" class="close" data-mdb-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Tuyệt!</h4>
        <p>Mược sách thành công.</p>
        <button type="button" class="btn btn-danger" id="delete_btn" data-mdb-dismiss="modal" [routerLink]="['/library-card']" >Đồng ý</button>
      </div>
    </div>
  </div>
</div>
