<header>
  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Search form -->
      <form >
        <div class="navbar-nav ms-auto d-flex flex-row">
          <input type="text" name="searchValue" >
          <select name="searchSelect" class="form-select" aria-label="Default select example">
            <option selected value="1">Mã bệnh án</option>
            <option value="2">Mã bệnh nhân</option>
            <option value="3">Tên bệnh nhân</option>
          </select>

          <div class="navbar-nav ms-auto d-flex flex-row">
            <input type="date" name="searchStartDateValue">
            <input type="date" name="searchEndDateValue">
            <select name="searchDateSelect" class="form-select" aria-label="Default select example">
              <option selected value="1">Ngày nhập viện</option>
              <option value="2">Ngày xuất viện</option>
            </select>
          </div>

          <button class=" border-0" id="search-addon">Search</button>
        </div>
      </form>
      <!-- Right links -->
      <div class="navbar-nav ms-auto d-flex flex-row">
        <button type="button" class="btn btn-danger me-3"
                data-mdb-toggle="modal"
                data-mdb-target="#modalDeleteMultiple">
          Delete Multiple
        </button>
        <a type="button" [routerLink]="['/medical-record-create']" class="btn btn-primary me-3">
          THÊM MỚI
        </a>
      </div>
    </div>
  </nav>
</header>
<!-- List -->
<table class="table table-striped table-hover">
  <thead class="bg-light">
  <tr>
    <th>STT</th>
    <th>Mã bệnh án</th>
    <th>Mã bệnh nhân</th>
    <th>Tên bệnh nhân</th>
    <th>Ngày nhập viện</th>
    <th>Ngày ra viện</th>
    <th>Lý do nhập viện</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medicalRecord of medicalRecordList; index as i">
    <td>{{(i + 1)}}</td>
    <td>{{medicalRecord.medicalRecordCode}}</td>
    <td>{{medicalRecord.patient.patientCode}}</td>
    <td>{{medicalRecord.patient.patientName}}</td>
    <td>{{medicalRecord.startDate}}</td>
    <td>{{medicalRecord.endDate}}</td>
    <td>{{medicalRecord.reason}}</td>
    <td>
      <a type="button" class="btn btn-link btn-sm btn-rounded edit_btn" [routerLink]="['/medical-record-edit', medicalRecord.medicalRecordId]">
        Sửa
      </a>
    </td>
    <td>
      <a type="button" class="btn btn-danger btn-sm btn-rounded delete_btn" data-mdb-toggle="modal"
         data-mdb-target="#deleteModal"
         onclick="sendMedicalRecordInfo($(this))">
        Xóa
      </a>
    </td>
  </tr>
  </tbody>
</table>

